language: php
dist: trusty
php:
  - 7.0
  - 5.6
  - 7.1
  - hhvm

sudo: false

cache:
  directories:
    - $HOME/.composer/cache

matrix:
  fast_finish: true

before_script:
  - composer install --no-interaction
  - composer require satooshi/php-coveralls:~0.6@stable
  - mkdir -p build/logs

script:
  - composer code-style
  - vendor/bin/phpunit -c phpunit.xml --coverage-clover=build/logs/clover.xml --coverage-text
  - sh -c 'if [ "$TRAVIS_PHP_VERSION" = "7.0" ]; then php vendor/bin/coveralls -v; fi;'
