includes:
    - vendor/phpstan/phpstan-mockery/extension.neon

parameters:
    paths:
        - src
    level: 5
    ignoreErrors:
        -
            identifier: method.notFound
            path: src/Testing
